<div class="jumbotron">

  <div class="container"
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->

    <div class="container">

      <h1 class="titulos">Bienvenidos</h1>
      <iframe width="760" height="215" src="https://www.youtube.com/embed/ReI_euvPKIk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


      <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=ki-vou4Fjxo" role="button">
        <span class="glyphicon glyphicon-sunglasses" style="font-size:15px; color:orange"></span>
        youtube
      </a>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1>MC's</h1>
        <p>A finales de los años 60s y 70s un nuevo género artístico surge en las barriadas pobres de Nueva York.
          Influenciado por el soul, el funk, e incluso ritmos latinos...

          Esta es la explicación mejor aceptada, no obstante se han hecho investigaciones que sugieren que en el caso
          del
          surgimiento del Rap actual...se dio también el extraño fenómeno de los múltiplos, surgiendo entonces a la par
          en
          al menos 3 países distintos: U.S.A., ESPAÑA y FRANCIA. Poco a poco los seguidores del género, que en general
          eran muchachos de origen muy humilde. </p>
        <img src="https://ak8.picdn.net/shutterstock/videos/34108348/thumb/3.jpg" class="img-fluid"
          alt="Responsive image">
      </div>
      

      <div class="col-md-3">
        <h1>B-boys</h1>
        <p>La palabra b-boy o b-boying es una cultura urbana, que comenzó a finales del año 1969 en el Bronx, es hip
          hop,
          ya que el hip hop engloba el B-boying, el MC, Dj y el grafiti. Es el nombre original con el que se conoce a la
          persona que baila (break-dance). Se usa también b-girl o flygirl para el género femenino. El jamaicano DJ Kool
          Herc utilizó este nombre, break-boy o bboy aunque también en algunas otras partes del mundo se le conoce como
          beat-boy, para referirse a los jóvenes que acudían a sus fiestas y bailaban durante los “breaks”.
        </p>
        <img src="https://ak1.picdn.net/shutterstock/videos/5642861/thumb/7.jpg?i10c=img.resize(height:160)"
          class="img-fluid" alt="Responsive image">

      </div>


      <div class="col-md-3">
        <h1>Graffity</h1>
        <p>Se llama pintada, grafito1​ o grafiti2​ (las dos últimas del italiano graffiti, graffire, y este a su vez del
          latín scariphare, ‘incidir con el scariphus’ —estilete o punzón, con el que los antiguos escribían sobre
          tablas—)3​4​ a una modalidad de pintura libre, destacada por su ilegalidad, generalmente realizada en espacios
          urbanos. Su origen se remonta a las inscripciones que han quedado en paredes desde los tiempos del Imperio
          romano, especialmente las que son de carácter satírico o crítico.Estas inscripciones de época arqueológica es
          más frecuente como «grafito».</p>
        <img src="https://ak7.picdn.net/shutterstock/videos/12377147/thumb/1.jpg" class="img-fluid"
          alt="Responsive image">



      </div>

      <div class="col-md-3">
        <h1>DJ's </h1>
        <p>Fue Ron Diggins, un ingeniero de radio británico que en 1947 construyó la famosa Diggola, considerada la
          primera «mesa de mezclas» de la historia de la música. Esta mesa portátil de construcción casera incluía dos
          platos, luces, micrófonos, un amplificador y una decena de altavoces. Y estaba hecha sobre una base de madera
          de
          ataúd.En su 90 cumpleaños, el primer disc-jockey confesó que, cuando empezó a recorrer ciudades y pueblos con
          su
          invento, recibió centenares de críticas de músicos que no veían con buenos ojos que mezclara sus canciones.
        </p>
        <img src="http://wallpaperstock.net/dj%2C-installation%2C-disks%2C-equip_wallpapers_55399_852x480.jpg"
          class="img-fluid" alt="Responsive image">
      </div>


    </div>

    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4">

      <!-- Footer Text -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h2 class="text-uppercase font-weight-bold">Hip-Hop</h2>
            <p><h5>El hip hop es una forma de vivir y movimiento artístico originado en el sur del Bronx y Harlem, en la
              ciudad de Nueva York, entre jóvenes afroamericanos e hispanos en Estados Unidos durante la década de
              1970.2​3​4​5​Si bien el término hip hop se usa a menudo para referirse al estilo musical y al estilo de
              vida, se considera que el hip hop no solo se circunscribe al ámbito musical.</h5></p>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-6 mb-md-0 mb-3">

            <!-- Content -->
            <h2 class="text-uppercase font-weight-bold">Movimiento Hip-Hop</h2>
            <p><h5>El cual consta de nueve elementos de los cuales cuatro son imprescindibles para describir este fenómeno
              en su totalidad: rap (oral: recitar o cantar), turntablism o "DJing" (auditiva o musical), breaking
              (físico: baile) y grafiti (visual: pintura). A pesar de sus variados y contrastados métodos de ejecución,
              se asocian fácilmente con la pobreza y la violencia que subyace al contexto histórico que dio nacimiento a
              la subcultura.</h5></p>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Text -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->

  </div>