<div class="jumbotron">
  <div class="container">
     <h1 class="titulos">Bienvenido</h1>
    
      
     <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=5RT9ytFQyX4&t=4587s"
      role="button">youtube</a>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p>El hip hop es un movimiento artístico y cultural que surgió en Estados Unidos a finales de los años 1970 en las comunidades afroamericanas y latinoamericanas de barrios populares neoyorquinos (Bronx, Queens y Brooklyn) donde desde el principio destacaron como manifestaciones características la música (funk, rap, Blues, DJing), el baile (hustle, uprocking, lindy hop, popping, locking) y 
        la pintura (aerosol, bombing, murals, political graffiti).
        <img src="https://sites.google.com/site/hiphoplarealcultura/_/rsrc/1370976107518/-que-es-un-rapero/mc%20nibubvh.jpg" class="img-fluid" alt="Responsive image">
        
      </p>
    </div>

    <div class="col-md-3">
      
      <p>Afrika Bambaataa acuñó el término hip hop en aquella época, aunque años más tarde KRS One, originario del Bronx, quiso unificar en cuatro los elementos del hip hop: el MCing (rapping), el DJing (turntablism), el breakdancing (bboying) y el graffiti. 
        Hizo esto con la idea de simplificar la definición de hip hop.
      </p>
      <img src="https://sites.google.com/site/hiphoplarealcultura/_/rsrc/1370976107518/-que-es-un-rapero/mc%20nibubvh.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-3">
      
      <p>pero para muchos esto puede resultar incompleto, ya que existen otras manifestaciones que quedarían excluidas de esta clasificación, como el beatbox, los murales, 
          <img src="https://sites.google.com/site/hiphoplarealcultura/_/rsrc/1370976107518/-que-es-un-rapero/mc%20nibubvh.jpg" class="img-fluid" alt="Responsive image">
  
      </p>

    </div>

    <div class="col-md-3">
      
        <p>el beatmakin o producción de fondos musicales ('beats'), el popping, el locking el uprocking etc.</p>
        <img src="https://sites.google.com/site/hiphoplarealcultura/_/rsrc/1370976107518/-que-es-un-rapero/mc%20nibubvh.jpg" class="img-fluid" alt="Responsive image">  
      </div>
  

  </div>

  
 
</div>